body {
  align-items: center;
  background-color: #282c34;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  color: white
}

h2 {
  color: white
}

p {
  color: white
}

img {
  outline: 5px solid black;
}

input {
  outline: 2px solid black;
  border-radius: 10px;
  width: 200px;
  height: 30px;
}

button {
  background-color: aqua;
  font-weight: 700;
  border-radius: 10px;
  width: 75px;
  height: 40px;
}